/*公共css*/
.clearfix:after{
	content: '';
	display: block;
	line-height: 0;
	clear: both;
}
[class*='bwl']:not([class*="bwl__"]){
	float: left;
	box-sizing: border-box;
}
[class*='bwr']:not([class*="bwr__"]){
	float: right;
	box-sizing: border-box;
}
table{
	border-collapse: collapse;
}
a:link{
	color: #004494;
	text-decoration: none;
}
a:hover{
	color: #004494;
	text-decoration: none;
}
a:active{
	color: #004494;
	text-decoration: none;
}
a:visited{
	color: #004494;
	text-decoration: none;
}

.nav-path{
	background: #4a4a4a;
	height: 40px;
	margin-bottom: 28px;
	border-radius: 20px;
	position: relative;
	line-height: 40px;
	color: #fff;
}
.np-prs{
	width: 54px;
    height: 54px;
    background: #fff;
    border-radius: 27px;
    border: 2px solid #4a4a4a;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 54px;
    font-weight: bold;
    color: #4a4a4a;
    font-size: 19px;
    
}
.prs-left{
	float: left;
	margin-left: 65px;
}
.prs-text{
	font-size: 14px;
	margin-right: 9px;
}
.prs__select.sl-container{
	position: relative;
    background: #fff;
    color: #000;
    font-size: 12px;
    width: 93px;
    margin-right: 18px;
}
.prs__select.sl-container .sl-placeholder-container{
	box-sizing: border-box;
	height: 40px;
	border: 0;
}
.prs__select .sl-placeholder{
    height: 100%;
    line-height: 36px;
    padding-left: 18px;
}
.prs__select .sl-button{
	line-height: 40px;
	background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/nav_icon_drop.png);
}
.prs__select.sl-container.sl-open .sl-button{
	background: none;
}
.prs__select .sl-placeholder-container:hover .sl-button{
	background-image: url(../img/nav_icon_drop.png);
	background-position: center;
    background-repeat: no-repeat;
}
.select{
    line-height: 40px;
    background: #0c4d90;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}
.select.sl-container .sl-placeholder-container{
	height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 0;
}
.select .sl-placeholder{
	line-height: 34px;
    padding-left: 7px;
    box-sizing: border-box;
}
.select .sl-button{
	width: 32px;
	line-height: 40px;
	background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/icon_triangle_1.png);
    /*transform: rotateZ(180deg);
    transition: transform .3s;*/
}
.select.sl-container.sl-open .sl-button{
	background: none;
}
.select .sl-placeholder-container:hover .sl-button{
	background-image: url(../img/icon_triangle_1.png);
	background-position: center;
    background-repeat: no-repeat;
}
.triangle--lg{
	width: 0px;
    height: 0px;
    margin-top: 1px;
    border-left: 20px solid #4a90e2;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    margin-right: 14px;
}
.prs-right{
    float: right;
    margin-right: 28px;
    letter-spacing: -5px;
    display: table-cell;
}
.icon{
	cursor: pointer;
}
.icon-mail{
    width: 18px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/nav_icon_mail.png);
    margin-right: 22px;
    display: inline-block;
    vertical-align: middle;
}
.icon-star{
    width: 18px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/nav_icon_star.png);
    display: inline-block;
    vertical-align: middle;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.block{
	background: #fff;
	border-radius: 5px;
	margin-bottom: 12px;
	/*height: 300px;*/
	padding: 10px;
	/*overflow: hidden;*/
}
.title-prefix-md{
	position: relative;
    display: inline-block;
    float: left;
    padding-left: 15px;
    margin: 10px 27px 0 10px;
    font-size: 15px;
    line-height: 22px;
}
.title-prefix-md:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 22px;
    background-color: #0c4d90;
    border-radius: 73px;
    left: 0px;
    top: 0px;
}
.label-lg{
	width: 236px;
    height: 46px;
    background: #8194ab;
    border-radius: 4px;
    line-height: 46px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 14px;
}
.label-lg-text{
	color: #a9b5c5;
	margin-right: 20px;
}
.label-lg-obj{
	color: #fff;
}
.breadcrumb{
	font-size: 12px;
	
}
.breadcrumb-item{
    display: inline-block;
    font-size: 12px;
}
.arrow-gt{
	padding: 0 12px;
    color: #808080;	
    font-size: 14px;
}
.block__text{
	float: left;
    line-height: 40px;
}
[class='bt'],[class*='bt--']{
	margin-right: 34px;
}
.bt--lg{
	color: #0c4d90;
    font-weight: bold;
    font-size: 14px;
}
.bt__info{
	padding-left: 8px;
}
.input--lg{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid rgb(191, 203, 217);
    box-sizing: border-box;
    color: rgb(31, 45, 61);
    font-size: inherit;
    height: 46px;
    line-height: 1;
    outline: none;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 237px;
    font-size: 14px;
}
.input--search{
	padding-left: 46px;
}
.search-wrapper{
	position: relative;
}
.icon-search{
	content: '';
	width: 18px;
	height: 18px;
	background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/icon_search.png);
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
	
}
[class='button'],[class*='button--']{
	display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #0c4d90;
    border: 1px solid rgb(191, 203, 217);
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 4px;
    height: 40px;
}
.button--md{
    width: 140px;
}
.button--lg{
    width: 150px;
}
.button--sm{
	width: 122px;
}
.letter-spacing{
	letter-spacing: -4px;
}
.mr20{
	margin-right: 20px;
}
.mr10{
	margin-right: 10px;
}
.tabs{
	letter-spacing: -4px;
	display: inline-block;
}
.tab-item{
	display: inline-block;
    width: 122px;
    height: 40px;
    background: #ebebeb;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px;
}
.tab-item.is-active{
	background: #8194ab;
	color: #fff;
}
.section{
	margin-bottom: 16px;
}
.el-table{
	border: 0;
	font-size: 12px;
}
.el-table tr{
	background: #f2f2f2;
}
.el-table td{
	border-bottom: 0;
}
.el-table th,.el-table__header-wrapper thead div{
	background: #8194ab;
	color: #fff;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #fff;
    background-clip: padding-box;
}
.line{
    margin-left: -10px;
    margin-right: -10px;
    border: 0;
    border-bottom: 1px solid #ebebeb;
}
.title--normal{
	font-size: 15px;
    line-height: 22px;
}
/*.el-tabs__header{
	margin-bottom: 0;
}
.el-tabs__item{
	padding: 0 2px;
	margin-right: 92px;
}
.el-tabs__active-bar{
	height: 4px;
	background-color: #004494;
}

.el-tabs__item.is-active {
    color: #004494;
}*/
.tabs__nav{
    background: #fff;
    margin-bottom: 10px;
    /* height: 52px; */
    font-size: 14px;
    /* padding-left: 40px; */
    border-radius: 5px;
}

.tab-title{
    line-height: 52px;
    margin-right: 94px;
    display: inline-block;
    box-sizing: border-box;
    height: 52px;
    padding: 0 6px;
    position: relative;
}
.nav--tab{
	padding-left: 40px;
    border: 1px solid #ebebeb;
}
.nav--tab>.tab-title{
	margin-right: 34px;
}
.nav__title{
	padding: 10px;
}
.tab-title.is-active{
	color: #004094;
}
.tab-title.is-active:after{
	content: '';
	width: 70px;
	height: 4px;
	background: #004494;
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.el-select{
	width: 130px;
    line-height: 40px;
    margin-right: 20px
}
.el-input__inner{
	height: 40px;
}
.table-wrapper{
	margin: 0 26px 0 10px;
}
.block{
	box-sizing: border-box;
}
.bwl--half{
	width: 49.6%;
}
.bwr--half{
	width: 49.6%;
}
