<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>框架</title>
		<!-- 引入样式 -->
		<link rel="stylesheet" type="text/css" href="lib/element/theme-default/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/frame.css"/>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="lib/selectify/silver.default.css"/>
		
		
		<style type="text/css">
			
			/*贴标签页*/
			.bwl--a{
				width: 58.4%;
			}
			.bwr--a{
				width: 40.7%;
			}
			.bwr--a>.block{
				height: 508px;
    			box-sizing: border-box;
			}
			.select--date{
				width: 216px;
			}
			.select--project{
				width: 122px;
			}
			.bwl--b{
				width: 58.5%;
				border-right: 1px solid #ddd;
    			padding-right: 10px;
			}
			.bwr--b{
				width: 41.5%;
				padding-left: 10px;
			}
			.channel-query{
				margin-top: 60px;
				text-align: right;
				border-bottom: 1px solid #0c4d90;
				width: 100%;
			}
			.channel-query__text{
				font-size: 14px;
    			margin-right: 6px;
			}
			.line--basic-wrapper{
				box-shadow: 0 0 5px 1px #dbdbdb;
				padding-top: 22px;
				height: 340px;
    			box-sizing: border-box;
			}
			.bar-staytime-wrapper{
				box-shadow: 0 0 5px 1px #dbdbdb;
				margin-left: 10px;
				margin-right: 10px;
				padding-top: 22px;
			}
		</style>
	</head>
	<body>
		
		<div class="content" id="app">
			<div class="nav-path">
				<div class="np-prs">PRS</div>
				<div class="prs-left">
					<span class="prs-text fl">PRS System</span>
					<select name="" class="prs__select" style="display: none;">
						<option value="">渠道画像</option>
					</select>
					<div class="breadcrumb fl">
						<div class="breadcrumb-item">
							产品分类
						</div>
						<span class="arrow-gt"> &gt; </span>
						<div class="breadcrumb-item">
							手机
						</div>
					</div>
				</div>
				<div class="prs-right">
					<div class="icon icon-mail"></div>
					<div class="icon icon-star"></div>
				</div>
			</div>
			<div class="block clearfix">
				<!--<select class="select select--date">
					<option value="">2017-04-16</option>
				</select>
				<select class="select select--project">
					<option value="">筛选</option>
					<option value="">筛选项目1</option>
					<option value="">筛选项目2</option>
				</select>-->
				<el-date-picker
			      v-model="dateRange"
			      type="daterange"
			      placeholder="选择日期范围" 
			      class="fl blue-bg mr10">
			    </el-date-picker>
			    <el-select placeholder="筛选" v-model="queryProject" class="fl blue-bg" style="margin-right: 10px;"></el-select>
				<div class="triangle--lg fl"></div>
				<div class="block__text">
					<span class="bt--lg">筛选条件</span>
					<span class="bt">版本:<span class="bt__info">1.2</span></span>
					<span class="bt">人群:<span class="bt__info">青年人群</span></span>
				</div>
			</div>
			<div class="block clearfix">
				<div class="clearfix" style="margin-bottom: 22px;">
					<div class="bwl--b clearfix">
						<div class="section clearfix">
							<span class="title-prefix-md">渠道基础数据</span>
							<div class="fr clearfix letter-spacing">
								<input type="text" name="" class="input--lg mr10"/>
								<button class="button--md">渠道管理</button>
							</div>
						</div>
						<div class="tabs">
							<div class="tabs__header">
								<div class="tab-item">数量分析</div>
								<div class="tab-item is-active">质量分析</div>
							</div>
							<div class="tabs__content">
								<div class="tab-content">
									<el-table :data="numAnalysisData" stripe  height="160">
										<el-table-column 
											label="渠道名称" 
											prop="1" 
											align="center"
											min-width="67"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column 
											label="今日新增" 
											prop="2"
											align="center"
											min-width="67"
											:show-overflow-tooltip="true">
										</el-table-column>
										<el-table-column label="昨日新增" 
											prop="3"
											align="center"
											min-width="67"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="日期段内新增(%)" 
											prop="4"
											align="center"
											min-width="113"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="日期段内活跃(%)" 
											prop="5"
											align="center"
											min-width="90"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="累计用户(%)" 
											prop="6"
											align="center"
											min-width="90"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column 
											label="操作"
											min-width="85"
											align="center">
											<template scope="scope">
												<span class="op1">趋势</span>
												<span class="op2">明细</span>
											</template>
										</el-table-column>
									</el-table>
								</div>
							
								<div class="tab-content">
									<el-table :data="qualityData" stripe  height="160">
										<el-table-column 
											label="渠道名称" 
											prop="1" 
											align="center"
											min-width="67"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column 
											label="今日启动次数" 
											prop="2"
											align="center"
											min-width="94"
											:show-overflow-tooltip="true">
										</el-table-column>
										<el-table-column label="今日活跃次数" 
											prop="3"
											align="center"
											min-width="94"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="昨日活跃用户(%)" 
											prop="4"
											align="center"
											min-width="113"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="回访用户(%)" 
											prop="5"
											align="center"
											min-width="90"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="一次性用户(%)" 
											prop="6"
											align="center"
											min-width="113"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column 
											label="操作"
											min-width="85"
											align="center">
											<template scope="scope">
												<span class="op1">趋势</span>
												<span class="op2">明细</span>
											</template>
										</el-table-column>
									</el-table>
								</div>
							
							</div>
						</div>
						
	
					</div>
					<div class="bwr--b clearfix">
						<div class="channel-query">
							<span class="channel-query__text">渠道健康</span>
							<el-select placeholder="筛选" class="blue-bg" style="margin-right: 0;"></el-select>
						</div>
						<div class="sml--half">
							<el-table :data="channelHealthData1" stripe  height="160" 
								:show-header="false">
								<el-table-column 
									prop="1" 
									align="center"
									:show-overflow-tooltip="true"> 
								</el-table-column>
								<el-table-column 
									prop="2"
									align="center"
									:show-overflow-tooltip="true">
								</el-table-column>
							</el-table>
						</div>
						<div class="smr--half">
							<el-table :data="channelHealthData1" stripe  height="160" 
								:show-header="false">
								<el-table-column 
									prop="1" 
									align="center"
									:show-overflow-tooltip="true"> 
								</el-table-column>
								<el-table-column 
									prop="2"
									align="center"
									:show-overflow-tooltip="true">
								</el-table-column>
							</el-table>
						</div>
						
						
	
					</div>
				</div>

				<hr class="line"/>
				<div class="clearfix" style="margin-top: 21px;">
					
					<div class="tabs">
						<span class="title--normal mr20">渠道基础数据</span>
						<div class="tabs__header" style="display: inline-block;width: initial;">
							<div class="tab-item is-active">新增用户</div>
							<div class="tab-item">活跃用户</div>
							<div class="tab-item">启动次数</div>
							<div class="tab-item">销量</div>
							<div class="tab-item">成交金额</div>
							<div class="tab-item">成交店铺</div>
						</div>
						<div class="tabs__content">
							<div class="tab-content">
								<div class="line--basic-wrapper">
									<div class="chart chart--line--new-customers" style="height: 300px;"></div>
								</div>
							</div>
							<div class="tab-content">
								<div class="line--basic-wrapper">
									<div class="chart chart--line--active-customers" style="height: 300px;"></div>
								</div>
							</div>
							<div class="tab-content">
								<div class="line--basic-wrapper">
									<div class="chart chart--line--start-times" style="height: 300px;"></div>
								</div>
							</div>
							<div class="tab-content">
								<div class="line--basic-wrapper">
									<div class="chart chart--line--channel-sales" style="height: 300px;"></div>
								</div>
							</div>
							<div class="tab-content">
								<div class="line--basic-wrapper">
									<div class="chart chart--line--channel-money" style="height: 300px;"></div>
								</div>
							</div>
							<div class="tab-content">
								<div class="line--basic-wrapper">
									<div class="chart chart--line--channel-store" style="height: 300px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="bwl--a">
				<div class="block clearfix">
					<div class="section clearfix">
						<span class="title-prefix-md">渠道关注度分析</span>
					</div>
					<el-table :data="focusData" stripe  height="160">
						<el-table-column 
							label="渠道名称" 
							prop="1" 
							align="center"
							:show-overflow-tooltip="true"> 
						</el-table-column>
						<el-table-column 
							label="今日关注数" 
							prop="2"
							align="center"
							:show-overflow-tooltip="true">
						</el-table-column>
						<el-table-column label="昨日关注数" 
							prop="3"
							align="center"
							:show-overflow-tooltip="true"> 
						</el-table-column>
						<el-table-column label="页面停留时间" 
							prop="4"
							align="center"
							:show-overflow-tooltip="true"> 
						</el-table-column>
						<el-table-column label="累计关注数" 
							prop="5"
							align="center"
							:show-overflow-tooltip="true"> 
						</el-table-column>
						<el-table-column label="重复关注次数" 
							prop="6"
							align="center"
							:show-overflow-tooltip="true"> 
						</el-table-column>
						<el-table-column 
							label="操作" 
							width="150"
							align="center">
							<template scope="scope">
								<span class="op1">趋势</span>
								<span class="op2">明细</span>
							</template>
						</el-table-column>
					</el-table>
				</div>
				<div class="block clearfix">
					<div class="section clearfix">
						<span class="title-prefix-md">渠道成熟度分析</span>
					</div>
					<div class="tabs tabs--sm">
						<div class="tabs__header">
							<div class="tab-item">成交额</div>
							<div class="tab-item">成交商品数</div>
							<div class="tab-item">成交人数</div>
							<div class="tab-item">活跃店铺</div>
							<div class="tab-item is-active">成交店铺</div>
							<div class="tab-item">质量分析</div>
						</div>
						<div class="tabs__content">
							<div class="tab-content">
								<el-table :data="dealAmountData" stripe  height="160">
									<el-table-column 
										label="渠道名称" 
										prop="channelName" 
										align="center"
										min-width="90"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="今日成交金额" 
										prop="todayAmount"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true">
										<template scope="scope">{{ transferDoubleFloat(scope.row['todayAmount']) }}</template>
									</el-table-column>
									<el-table-column label="昨日成交金额" 
										prop="yesterdayAmount"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true"> 
										<template scope="scope">{{ transferDoubleFloat(scope.row['yesterdayAmount']) }}</template>
									</el-table-column>
									<el-table-column label="成交额增长率" 
										prop="amountRate"
										align="center"
										min-width="100"
										:show-overflow-tooltip="true"> 
										<template scope="scope">
									        <div :class="showArrow(scope.row['amountRate'])"></div>
									        <span>{{scope.row['amountRate'] | rate}}</span>
									    </template>
									</el-table-column>
									<el-table-column 
										label="操作" 
										align="center">
										<template scope="scope">
											<span class="op1">趋势</span>
											<span class="op2">明细</span>
										</template>
									</el-table-column>
								</el-table>
							</div>
							<div class="tab-content">
								<el-table :data="dealGoodsData" stripe  height="160">
									<el-table-column 
										label="渠道名称" 
										prop="channelName" 
										align="center"
										min-width="90"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="今日商品销量" 
										prop="todayNum"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true">
									</el-table-column>
									<el-table-column label="昨日成交销量" 
										prop="yesterdayNum"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true"> 
										<template scope="scope">{{ transferInteger(scope.row['yesterdayNum']) }}</template>
										
									</el-table-column>
									<el-table-column label="销量额增长率" 
										prop="numRate"
										align="center"
										min-width="100"
										:show-overflow-tooltip="true"> 
										<template scope="scope">
									        <div :class="showArrow(scope.row['numRate'])"></div>
									        <span>{{scope.row['numRate'] | rate}}</span>
									    </template>
									</el-table-column>
									<el-table-column 
										label="操作" 
										align="center">
										<template scope="scope">
											<span class="op1">趋势</span>
											<span class="op2">明细</span>
										</template>
									</el-table-column>
								</el-table>
							</div>
							<div class="tab-content">
								<el-table :data="dealPeopleData" stripe  height="160">
									<el-table-column 
										label="渠道名称" 
										prop="1" 
										align="center"
										min-width="90"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="今日客户" 
										prop="2"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true">
									</el-table-column>
									<el-table-column label="昨日客户" 
										prop="3"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="客户额增长率" 
										prop="4"
										align="center"
										min-width="100"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="操作" 
										align="center">
										<template scope="scope">
											<span class="op1">趋势</span>
											<span class="op2">明细</span>
										</template>
									</el-table-column>
								</el-table>
							</div>
							<div class="tab-content">
								<el-table :data="activeStoreData" stripe  height="160">
									<el-table-column 
										label="渠道名称" 
										prop="channelName" 
										align="center"
										min-width="90"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="今日活跃店铺" 
										prop="todayActiveShopCount"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true">
									</el-table-column>
									<el-table-column label="昨日活跃店铺" 
										prop="yesterdayActiveShopCount"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true"> 
										<template scope="scope">{{ transferInteger(scope.row['yesterdayActiveShopCount']) }}</template>
										
									</el-table-column>
									<el-table-column label="店铺增长率" 
										prop="activeShopCountRate"
										align="center"
										min-width="100"
										:show-overflow-tooltip="true"> 
										<template scope="scope">
									        <div :class="showArrow(scope.row['activeShopCountRate'])"></div>
									        <span>{{scope.row['activeShopCountRate'] | rate}}</span>
									    </template>
									</el-table-column>
									<el-table-column 
										label="操作" 
										align="center">
										<template scope="scope">
											<span class="op1">趋势</span>
											<span class="op2">明细</span>
										</template>
									</el-table-column>
								</el-table>
							</div>
							<div class="tab-content">
								<el-table :data="dealStoreData" stripe  height="160">
									<el-table-column 
										label="渠道名称" 
										prop="channelName" 
										align="center"
										min-width="90"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="今日成交店铺" 
										prop="todayShopCount"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true">
									</el-table-column>
									<el-table-column label="昨日成交店铺" 
										prop="yesterdayShopCount"
										align="center"
										min-width="110"
										:show-overflow-tooltip="true"> 
										<template scope="scope">{{ transferInteger(scope.row['yesterdayShopCount']) }}</template>
										
									</el-table-column>
									<el-table-column label="店铺增长率" 
										prop="shopCountRate"
										align="center"
										min-width="100"
										:show-overflow-tooltip="true"> 
										<template scope="scope">
									        <div :class="showArrow(scope.row['shopCountRate'])"></div>
									        <span>{{scope.row['shopCountRate'] | rate}}</span>
									    </template>
									</el-table-column>
									<el-table-column 
										label="操作" 
										align="center">
										<template scope="scope">
											<span class="op1">趋势</span>
											<span class="op2">明细</span>
										</template>
									</el-table-column>
								</el-table>
							</div>
							<div class="tab-content"></div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="bwr--a">
				<div class="block clearfix">
					<div class="section clearfix">
						<span class="title-prefix-md">渠道用户停留时间</span>
					</div>
					<div class="bar-staytime-wrapper">
						<div class="chart chart--bar--staytime" style="height: 300px;"></div>
					</div>
					
				</div>
			</div>
			
			
		</div>
		<script src="lib/moment/moment.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/util.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/jquery/jquery-3.2.1.js"></script>
		<script src="lib/selectify/jquery.selectify.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/element/index.js"></script>
		<script src="lib/echarts/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/frame.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/channel_draw.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
