<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>框架</title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
		<link rel="stylesheet" type="text/css" href="lib/jqcloud/jqcloud.css"/>
		<link rel="stylesheet" type="text/css" href="css/frame.css"/>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="lib/selectify/silver.default.css"/>
		<style type="text/css">
			.bwl--b{
			    width: 50%;
			    border-right: 1px solid #ddd;
			    padding-right: 10px;
				
			}
			.bwr--b{
				width: 50%;
    			padding-left: 10px;
				
			}
			.bwl--c{
			    width: 50%;
			    /*border-right: 1px solid #ddd;*/
			    padding-right: 10px;
			    position: relative;
				
			}
			.bwr--c{
				width: 50%;
    			padding-left: 10px;
				
			}
			.bwl--c:after{
				content: '';
			    height: 300px;
			    border-right: 1px solid #d8d8d8;
			    position: absolute;
			    right: 0px;
			    top: -36px;
			}
			.bwl--d{
			    width: 42.6%;
			    padding-right: 5px;
			    
				
			}
			.bwr--d{
				width: 57.4%;
    			padding-left: 5px;
				
			}
			.bwl--e{
			    width: 39.6%;
			    padding-right: 10px;
			    position: relative;
				
			}
			.bwr--e{
				width: 60.4%;
    			padding-left: 10px;
				
			}
			.bwl--e:after{
				content: '';
			    height: 300px;
			    border-right: 1px solid #d8d8d8;
			    position: absolute;
			    right: 0px;
			    top: 0;
			}
			.bwl--f{
			    width: 50%;
			    padding-right: 5px;
			    
				
			}
			.bwr--f{
				width: 50%;
    			padding-left: 5px;
				
			}
			.chart--line1{
				height: 280px;
			}
			.chart--line2{
				height: 280px;
			}
			.chart--line3{
				height: 280px;
			}
			.chart--pie1{
				height: 300px;
			}
			.chart--map1{
				height: 340px;
			}
			.chart--bar-h1{
				height: 276px;
			}
			.chart--bar-h2{
				height: 276px;
			}
			.chart--bar-h3{
				height: 300px;
			}
			.chart--bar-h4{
				height: 300px;
			}
			.chart--radar1{
				height: 280px;
			}
			.score-wrapper{
				font-size: 15px;
			    font-weight: bold;
			    line-height: 40px;
			    height: 40px;
			    display: table-cell;
			    float: right;
			}
			.score__text{
				margin-right: 12px;
    			vertical-align: middle;
			}
			.score__value{
				color: #4a90e2;
			}
			.el-rate{
				display: inline-block;
			}
			.products{
				color: #8a7979;
    			font-size: 14px;
				
			}
			.product-brand{
				padding-left: 60px;
			}
			.product-params{
				padding: 10px 0 10px 60px;
			}
			.brand-name{
				color: #004494;
				margin: 0 8px 0 6px;
			}
			.line--product{
				margin-left: 20px;
			    border: 0;
			    border-bottom: 1px solid #d8d8d8;
			}
			.param__value{
				margin-left: 10px;
			}
			.params--right{
				line-height: 32px;
			}
			.overview{
				width: 72.4%;
			    height: 257px;
			    margin: 0 auto;
			    text-align: center;
			    font-size: 19px;
			    font-weight: bold;
			}
			.overview__value{
				font-size: 34px;
    			color: #0c4d90;
			}
			.left-top{
				border-right: 1px solid #d8d8d8;
				border-bottom: 1px solid #d8d8d8;
			}
			.right-bottom{
				border-left: 1px solid #d8d8d8;
				border-top: 1px solid #d8d8d8;
			}
			
		</style>
	</head>
	<body>
		
		<div class="content" id="app">
			<div class="tabs__nav">
				<div class="tab-title is-active" data-name="tab1" style="margin-left: 40px;">标注总览</div>
				<div class="tab-title" data-name="tab2">属性分析</div>
				<div class="tab-title " data-name="tab3">销售分析</div>
				<div class="tab-title" data-name="tab4">点评分析</div>
				<div class="tab-title" data-name="tab5">竞品分析</div>
				<div class="tab-title" data-name="tab6">产品分类</div>
			</div>
			<div class="tabs__content clearfix">
				<div class="tab-pane" data-name="tab6">
					<div class="bwl--half">
						<div class="block clearfix">
							<div class="section clearfix">
								<span class="title-prefix-md">产品分类</span>
							</div>
							<div class="table-wrapper">
								<el-table :data="categoryData" stripe >
									
									<el-table-column 
										label="型号" 
										prop="1" 
										align="center"
										width="150"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="属性" 
										prop="2"
										align="center"
										:show-overflow-tooltip="true">
									</el-table-column>
									<el-table-column label="价格" 
										prop="3"
										align="center"
										width="120"
										:show-overflow-tooltip="true"> 
									</el-table-column>
								</el-table>
							</div>
							
						</div>
					</div>
				</div>
				<div class="tab-pane" data-name="tab5">
					<div class="bwl--half">
						<div class="block clearfix">
							<div class="section clearfix">
								<span class="title-prefix-md">产品亮点分析</span>
								<el-select placeholder="人群筛选"></el-select>
								<el-select placeholder="产品筛选"></el-select>
							</div>
							<div class="table-wrapper" style="margin-bottom: 30px;">
								
								<el-table :data="highlightData" stripe class="table--border">
									<el-table-column 
										label="" 
										width="64"
										prop="0" 
										align="left"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="Apple/苹果" 
										prop="1" 
										align="center"
										:show-overflow-tooltip="true"> 
										<template scope="scope">
									        <div class="icon--tick" v-if="scope.row[1]=='true'"></div>
									    </template>
									</el-table-column>
									<el-table-column 
										label="MIUI/小米" 
										prop="2"
										align="center"
										:show-overflow-tooltip="true">
										<template scope="scope">
									        <div class="icon--tick" v-if="scope.row[2]=='true'"></div>
									    </template>
									</el-table-column>
									<el-table-column label="Huawei/华为" 
										prop="3"
										align="center"
										:show-overflow-tooltip="true"> 
										<template scope="scope">
									        <div class="icon--tick" v-if="scope.row[3]=='true'"></div>
									    </template>
									</el-table-column>
									<el-table-column label="Samsung/三星" 
										prop="4"
										align="center"
										:show-overflow-tooltip="true"> 
										<template scope="scope">
									        <div class="icon--tick" v-if="scope.row[4]=='true'"></div>
									    </template>
									</el-table-column>
									<el-table-column label="VIVO" 
										prop="5"
										align="center"
										:show-overflow-tooltip="true"> 
										<template scope="scope">
									        <div class="icon--tick" v-if="scope.row[5]=='true'"></div>
									    </template>
									</el-table-column>
								</el-table>
							</div>
							
						</div>
					
					</div>
					<div class="bwr--half">
						<div class="block clearfix">
							<div class="section clearfix">
								<span class="title-prefix-md">品牌销量分析</span>
								<el-select placeholder="最近一个月"></el-select>
								<el-select placeholder="人群筛选"></el-select>
							</div>
							<div class="table-wrapper" style="margin-bottom: 36px;">
								
								<el-table :data="salesData" stripe>
									<el-table-column 
										label="品牌名称" 
										prop="1" 
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="销量趋势" 
										prop="2"
										align="center"
										:show-overflow-tooltip="true">
										<template scope="scope">
									        <div class="icon--trend" v-if="scope.row[2]=='true'"></div>
									    </template>
									</el-table-column>
									<el-table-column label="网店均价" 
										prop="3"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="实体店价格" 
										prop="4"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="热销指数" 
										prop="5"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
								</el-table>
							</div>
							
						</div>
					
					</div>
				</div>
				<div class="tab-pane" data-name="tab4">
					<div class="bwl--half">
						<div class="block clearfix" style="height: 346px;">
							<div class="section clearfix">
								<span class="title-prefix-md">产品评论活跃度</span>
								<el-select placeholder="网站筛选"></el-select>
								<el-select placeholder="时间筛选"></el-select>
							</div>
							<div class="table-wrapper">
								
								<el-table :data="commentActiveData" stripe>
									<el-table-column 
										label="网站" 
										prop="1" 
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="好评" 
										prop="2"
										align="center"
										:show-overflow-tooltip="true">
									</el-table-column>
									<el-table-column label="中评" 
										prop="3"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="差评" 
										prop="4"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="追评" 
										prop="5"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="晒图" 
										prop="6"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="无情感" 
										prop="7"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="活跃指数" 
										prop="8"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
								</el-table>
							</div>
							
						</div>
						
						<div class="block clearfix" style="height: 360px;">
							<div class="section clearfix">
								<span class="title-prefix-md">产品情感分析</span>
							</div>
							<div class="table-wrapper">
								
								<el-table :data="commentActiveData" stripe>
									<el-table-column 
										label="项目" 
										prop="1" 
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="用户情感" 
										prop="2"
										align="center"
										:show-overflow-tooltip="true">
									</el-table-column>
									<el-table-column label="有效评价数网站" 
										prop="3"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
								</el-table>
								<div class="score-wrapper">
									<span class="score__text">情感综合评分</span>
									<span class="score__text"><span class="score__value">85</span>分</span>
									 <el-rate v-model="score"></el-rate>
								</div>
							</div>
							
						</div>
						<div class="block clearfix" style="height: 346px;">
							<div class="section clearfix">
								<span class="title-prefix-md">用户评论热点</span>
							</div>
							
						</div>
						
					</div>
					<div class="bwr--half">
						<div class="block clearfix" style="height: 346px;">
							<div class="section clearfix">
								<span class="title-prefix-md">渠道用户停留时间</span>
							</div>
							<div class="chart chart--line--stay" style="height: 280px;margin-right: 30px;">
								
							</div>
									
						</div>
						<div class="block clearfix" style="height: 360px;">
							<div class="section clearfix">
								<span class="title-prefix-md">情感指数趋势</span>
								<el-select placeholder="全部网站"></el-select>
								<el-select placeholder="最近一周"></el-select>
							</div>
							<div class="table-wrapper">
								
								<el-table :data="commentActiveData" stripe>
									<el-table-column 
										label="网站" 
										prop="1" 
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column 
										label="好评" 
										prop="2"
										align="center"
										:show-overflow-tooltip="true">
									</el-table-column>
									<el-table-column label="中评" 
										prop="3"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="差评" 
										prop="4"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="追评" 
										prop="5"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="晒图" 
										prop="6"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="无情感" 
										prop="7"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
									<el-table-column label="活跃指数" 
										prop="8"
										align="center"
										:show-overflow-tooltip="true"> 
									</el-table-column>
								</el-table>
							</div>
							
						</div>
						
					</div>
				</div>
				
				<div class="tab-pane" data-name="tab3">
					<div class="clearfix">
						<div class="bwl--half">
							<div class="block clearfix" style="height: 346px;">
								<div class="section clearfix">
									<span class="title-prefix-md">产品销售数量</span>
									<el-select placeholder="按季度"></el-select>
								</div>
								<div class="table-wrapper">
									
									<el-table :data="commentActiveData" stripe>
										<el-table-column 
											label="季度" 
											prop="1" 
											align="center"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column 
											label="总销量(台)" 
											prop="2"
											align="center"
											:show-overflow-tooltip="true">
										</el-table-column>
										<el-table-column label="移动营销(台)" 
											prop="3"
											align="center"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="门店销售(台)" 
											prop="4"
											align="center"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="均价" 
											prop="5"
											align="center"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="销量增长" 
											prop="6"
											align="center"
											:show-overflow-tooltip="true"> 
										</el-table-column>
										<el-table-column label="同比增率" 
											prop="7"
											align="center"
											:show-overflow-tooltip="true"> 
										</el-table-column>
									</el-table>
								</div>
								
							</div>
							
						</div>
						<div class="bwr--half">
							<div class="block clearfix" style="height: 346px;">
								<div class="section clearfix">
									<span class="title-prefix-md">产品价格走势</span>
									<el-select placeholder="按年份"></el-select>
								</div>
								<div class="chart chart--line2"></div>
										
							</div>
						</div>
					</div>
					
					<div class="block clearfix">
						<div class="bwl--b" style="height: 360px;">
							<div class="section clearfix">
								<span class="title-prefix-md">销售价格市场分布</span>
							</div>
							<div class="chart chart--pie1"></div>	
						</div>
						<div class="bwr--b" style="height: 360px;">
							<div class="chart chart--map1"></div>
						</div>
					</div>
					<div class="block clearfix">
						<div class="bwl--b" style="height: 360px;">
							<div class="section clearfix">
								<span class="title-prefix-md">促销方式</span>
								<el-select placeholder="按季度"></el-select>
							</div>
							<div class="tabs">
								<div class="tab-item is-active">一季度</div>
								<div class="tab-item ">二季度</div>
								<div class="tab-item ">三季度</div>
								<div class="tab-item ">四季度</div>
							</div>
							<el-table :data="commentActiveData" stripe>
								<el-table-column 
									label="促销方式" 
									prop="1" 
									align="center"
									:show-overflow-tooltip="true"> 
								</el-table-column>
								<el-table-column 
									label="销量" 
									prop="2"
									align="center"
									:show-overflow-tooltip="true">
								</el-table-column>
								<el-table-column label="均价" 
									prop="3"
									align="center"
									:show-overflow-tooltip="true"> 
								</el-table-column>
								<el-table-column label="销量增长" 
									prop="4"
									align="center"
									:show-overflow-tooltip="true"> 
								</el-table-column>
								<el-table-column label="平台" 
									prop="5"
									align="center"
									:show-overflow-tooltip="true"> 
								</el-table-column>
							</el-table>
						</div>
						<div class="bwr--b">
						</div>
					</div>
				</div>
				
				<div class="tab-pane" data-name="tab2">
					<div class="bwl--half">
						<div class="block clearfix" style="height: 346px;">
							<div class="section clearfix">
								<span class="title-prefix-md">产品基本属性</span>
							</div>
							<div class="clearfix products">
								<div class="bwl--c">
									<div class="product-brand">品牌:
										<span class="brand-name">Apple</span>
										<el-button size="small">+关注</el-button>
									</div>
									<div class="product-params">
										<div class="param--product">分辨率:<span class="param__value">1334*750(iphone6s)</span></div>
									</div>
									<hr class="line--product"/>
									<div class="product-params">
										<div class="param--product">后置摄像头:<span class="param__value">其他</span></div>
										<div class="param--product">前置摄像头:<span class="param__value">其他</span></div>
									</div>
									<hr class="line--product">
									<div class="product-params">
										<div class="param--product">核数:<span class="param__value">其他</span></div>
										<div class="param--product">频率:<span class="param__value">其他</span></div>
									</div>
								</div>
								<div class="bwr--c">
									<div class="params--right">
										<div class="param--product">核数:<span class="param__value">其他</span></div>
										<div class="param--product">核数:<span class="param__value">其他</span></div>
										<div class="param--product">核数:<span class="param__value">其他</span></div>
										<div class="param--product">核数:<span class="param__value">其他</span></div>
										<div class="param--product">核数:<span class="param__value">其他</span></div>
										<div class="param--product">核数:<span class="param__value">其他</span></div>
										<div class="param--product">核数:<span class="param__value">其他</span></div>
									</div>
								</div>
							</div>
						</div>		
						<div class="block clearfix" style="height: 346px;">
							<div class="section clearfix">
								<span class="title-prefix-md">热点关键字</span>
							</div>
							
						</div>
						
					</div>
					<div class="bwr--half">
						<div class="block clearfix" style="height: 346px;">
							<div class="section clearfix">
								<span class="title-prefix-md">基础标签分析</span>
							</div>
							<div class="bwl--d">
								<div class="chart chart--bar-h1"></div>
							</div>
							<div class="bwr--d">
								<div class="chart chart--bar-h2"></div>
							</div>
									
						</div>
					</div>
				</div>
				<div class="tab-pane" data-name="tab1">
					<div class="block clearfix" style="height: 360px;">
						<div class="section clearfix" style="margin-bottom: 0;">
							<span class="title-prefix-md">标注总览</span>
						</div>
						<div class="bwl--e" style="height: 300px;">
							<table class="overview">
								<tr>
									<td class="left-top">
										<div class="overview__text">商品总销量</div>
										<div class="overview__value">68952</div>
									</td>
									<td>
										<div class="overview__text">同类销售比例</div>
										<div class="overview__value">25</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="overview__text">商品点评数</div>
										<div class="overview__value">898952</div>
									</td>
									<td class="right-bottom">
										<div class="overview__text">人气数</div>
										<div class="overview__value">48989</div>
									</td>
								</tr>
							</table>
							
						</div>
						<div class="bwr--e" style="height: 300px;">
							<div class="bwl--f">
								<div class="chart chart--bar-h3"></div>
							</div>
							<div class="bwr--f">
								<div class="chart chart--bar-h4"></div>
							</div>
						</div>
					</div>
					<div class="clearfix">
						<div class="bwl--half">
							<div class="block clearfix" style="height: 346px;">
								<div class="section clearfix">
									<span class="title-prefix-md">商品评论热点</span>
								</div>
								<div class="cloud--comment" style="height: 300px;">
								</div>
							</div>
							<div class="block clearfix" style="height: 346px;">
								<div class="section clearfix">
									<span class="title-prefix-md">销售热点</span>
								</div>
								<div class="chart chart--radar1"></div>
							</div>
						</div>
						<div class="bwr--half">
							<div class="block clearfix" style="height: 346px;">
								<div class="section clearfix">
									<span class="title-prefix-md">好评度</span>
								</div>
								<div class="chart chart--line3"></div>
										
							</div>
						</div>
					</div>
					
					

				</div>
				
			</div>
			
			
		</div>
		<script src="lib/jquery/jquery-3.2.1.js"></script>
		<script src="lib/selectify/jquery.selectify.js" type="text/javascript" charset="utf-8"></script>
		<!--先引入vue-->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="lib/echarts/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/product_analysis.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/echarts/china.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/line.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pie.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/map.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bar_h.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/radar.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/jqcloud/jqcloud-1.0.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cloud.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/frame.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
